* {
  font-family: sans-serif;
}

body{
  padding: 0 1em 1em 1em;
}

div.graph{
  width: 500px;
  height: 300px;
  display:block;
  #border: 1px dashed gainsboro;
}

div.column{
  width:500px;
}

div#doughnut_number{
	font-size: 2em;
	color: #666666;
	position: absolute;
	bottom: -463px;
	left: 239px;
	z-index: 2;
}